<body>
    <h1> #{title}</h1>
   
    
    <p>#{content}</p>

    <form action="/sub" method="post" id="contact">
        <input type="text" name="name" placeholder="title">
        <input type="text" name="age" placeholder="age">
        <input type="text" name="gen" placeholder="gender">
        <input type="submit"  value="submit"> 
    </form>

    
</body>